.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: fit-content;
  text-align: center;
}

select {
  width: 300px;
  background-color: #c33124;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 10px;
  min-height: 40px;
  font-size: 1rem;
}

select:hover {
  background-color: #f98365;
}

.chosen-img {
  object-fit: contain;
  height: 300px;
  width: 300px;
}

textarea {
  font-family: "Sen";
  resize: none;
  background-color: white;
  color: #c33124;
  font-size: 1rem;
  min-width: 280px;
  outline: none;
  border: none;
}

textarea:hover {
  background-color: rgb(196, 195, 195);
}

@media screen and (max-width: 450px) {
  textarea {
    min-width: 240px;
  }

  .chosen-img {
    height: 240px;
    width: 240px;
  }
}

@media screen and (max-width: 380px) {
  .create-post-form {
    max-width: 280px;
  }

  textarea {
    min-width: 200px;
  }

  .chosen-img {
    height: 200px;
    width: 200px;
  }

  select {
    width: 260px;
  }

  button {
    width: 260px;
  }
}

@media screen and (max-width: 350px) {
  .create-post-form {
    max-width: 250px;
  }

  .chosen-img {
    height: 240px;
    width: 240px;
  }

  select {
    width: 230px;
  }

  button {
    width: 230px;
  }
}
