.post {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  min-width: 320px;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.post button {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #c33124;
}

.post button:hover {
  color: #f98365;
}

.post * {
  display: inline-block;
}

.btn-section {
  display: flex;
  justify-content: space-evenly;
}

.post-img {
  object-fit: contain;
  height: 280px;
  width: 280px;
}

.post-content,
.post-content * {
  text-align: center;
}

.post-content p {
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 280px;
}

.post-header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.post-header * {
  font-size: 0.9rem;
}

#react-confirm-alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.react-confirm-alert-overlay {
  max-width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  border: solid 2px #c33124;
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: stretch;
}

.react-confirm-alert-button-group button {
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 400px) {
  .post {
    min-width: 250px;
  }

  .post-img {
    width: 250px;
    height: 250px;
  }

  .post-content p {
    max-width: 250px;
  }

  .react-confirm-alert-overlay {
    max-width: 200px;
  }
}
